<footer class="footer">
    <div class="ui container">
        <div class="ui two column row middle aligned grid">
        <div class="left floated five wide column text-center">
            <a href="#" class="footer-link">Mentions légales</a> | <a href="#" class="footer-link">Contact</a>
        </div>
        <div class="right floated five wide column text-center">
            <a href="#" target="_blank">
            <img src="public/img/FMC_Production.png" alt="Logo de FMS Productions">
            </a>
        </div>
        </div>
    </div>
</footer>